<!DOCTYPE html>
<html lang="en">
{{>Header}}
<body>
    {{>Navbar}}
       <div class="container my-5">

     <div class="row g-0 position-relative">
  <div class="col-md-6 p-4 ps-md-0 my-auto" >
    <h5 class="mt-0">Columns with stretched link</h5>
    <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
  <div class="col-md-6 mb-md-0 p-md-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/w1.png" class="d-block w-100"alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/w2.png" class="d-block w-100"alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/w3.png" class="d-block w-100"alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/w4.png" class="d-block w-100"alt="...">
    </div>
  </div>
</div>
  </div>
</div>
     </div>
      {{>footer}}
</body>
</html>