<!DOCTYPE html>
<html lang="en">
{{>Header}}
<body>
    {{>Navbar}}
    <div class="container text-center my-3">
    <img src="img/404error.png" alt="" width="60%">
    </div>
     {{>footer}}
</body>
</html>